.title {
    color: #662D91;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.title-small {
    color: #662D91;
    font-size: 13px;
    text-decoration: none !important;
}
